.card {
    position: relative;
    --border-width: 1px;
    padding: var(--border-width);
    overflow: hidden;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    
    & .content {
        position: relative;
        background: var(--background-tertiary);
        border-radius: 0.5rem;
    }

    & .border {
        position: absolute;
        inset: 0;
        background: var(--background-tertiary);
    }

    &:hover, &:focus-within {
        cursor: pointer;
        & .border::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 200%;
            min-height: 200%;
            aspect-ratio: 1/1;
            background: conic-gradient(from 90deg, #77c0af 0%, 
                                            #d1dc97 14.84%,
                                            #e9a9b3 32.15%,
                                            #d586e0 65.79%,
                                            #91a1fa 84.58%);
            transform: translate(-50%, -50%) rotate(0deg);      
            animation: rotateGradient 1.5s linear infinite;                              
        }

        & .icons-button {
            & img[src*="circle-arrow"] {
                animation: rotateArrow 1s linear forwards;
            }
        }

        & .generate-button img[src*="right-arrow-icon"] {
            animation: translateArrow 2s linear infinite;
        }
    }
}

.generate-button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 3.5rem;
    
    background-color: var(--background-tertiary);
    border-radius: 0.5rem;
    
    font: var(--label-medium);
    color: var(--content-primary);

    & .icons-button {
        display: flex;
        align-items: center;
        position: relative;

        & img[src*="play-icon"] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        & img[src*="circle-arrow"] {
            rotate: 180deg;
        }
    } 
}

@keyframes rotateGradient {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotateArrow {
    to {
        rotate: 540deg;
    }
}

@keyframes translateArrow {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(0.7rem);
    }

    100% {
        transform: translateX(0);
    }
}
