main {
    display: flex;
    justify-content: center;
    min-width: 68.625rem;

    & #logo-icon {
        width: 10.75rem;
        height: 2.375rem;

        margin-bottom: 5.562rem;
    }

    & .content-left {
        display: grid;
        align-content: center;

    }

    & .content-right {
        display: grid;
        align-items: center;
        padding-top: 7.5rem;
        min-height: 33.65rem;
    }
}


@media (width < 70.65rem) {
    main {
        display: grid;
        /* margin-top: 2.75rem; */
        min-width: initial;

        & .content-left {
            justify-content: center;

            & #logo-icon {
                display: flex;
                width: 100%;
                /* align-items: center;
                justify-content: center; */
                margin-block: 2.75rem 2.875rem;
            }
        }

        & .content-right {
            justify-content: center;
            min-height: initial;

            padding-top: 2.625rem; 
        }
    }
}